
Flutter/
React-Native/
backend-bz/src/main/resources/application.yml
backend-bz/src/main/resources/application.yml
*.yml
backend-bz/src/main/resources/application.yml
spring-react-login-master/
./ui/public/env.js 
ui/package-lock.json

backend-bz/images/
backend-bz/src/main/resources/images/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
### db passcode ##
application.yml

/uploads
