.imghover {
  -webkit-filter: brightness(80%);
  transition-duration: 0.5s;
}

.imghover:hover {
  -webkit-filter: brightness(100%);
  transition-duration: 0.5s;
}
#author{
  max-height: 30px;
  height: 30px;
  border-radius:0 200px 200px 0;
  vertical-align: middle;
  position:relative;
}
#author:before{
  width: 12px;
  height: 30px;
  border-radius:0 30px 30px 0;
  background-color:#FFF;    
  display:inline-block;
  vertical-align: middle;
  content: '';
  margin-right: 10px;
}
#author1{
  max-height: 30px;
  height: 30px;
  border-radius:0 200px 200px 0;
  vertical-align: middle;
  position:relative;
}
#author1:before{
  width: 12px;
  height: 30px;
  border-radius:0 30px 30px 0;
  display:inline-block;
  vertical-align: middle;
  content: '';
  margin-right: 10px;
}
.btn-notclicked, .btn-notclicked:hover, .btn-notclicked:focus, .btn-notclicked:active {
  background-color:#faf2f5;
  border: 1.5px solid #f50057;
}
.btn-clicked, .btn-clicked:hover, .btn-clicked:focus, .btn-clicked:active{
  background-color: #f50057;
}

#btn-notclicked-content, #btn-notclicked-content:hover, #btn-notclicked-content:focus,  #btn-notclicked-content:active{
  color: #f50057;
}

#btn-clicked-content, #btn-notclicked-content:hover, #btn-notclicked-content:focus, #btn-notclicked-content:active{
  color: #fff;
}
      